/*** generel ***/


html {
    scroll-behavior: smooth;
}

* {
    margin: 0 auto;
    box-sizing: border-box;

}

#menuknap {
    display: inline-block;
    color: white;
    font-size: 3rem;
    padding: 0px 20px 0px 0px;
    color: #FAC177;
    cursor: pointer;

}

#menu {
    position: relative;
    list-style-type: none;
    transition: 0.8s;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.46) 0%, rgba(0, 0, 0, 0.37296925606179976) 76%, rgba(255, 255, 255, 0) 100%);
    border-radius: 8px 0 0 10px;
    padding: 0 0 10px 0;
}

/*------ SKJUL ------*/
.hidden {
    transform: translateX(80%);
    opacity: 0;

}




img {
    width: 100%;
    width: 50%
}



.forsidebillede {
    width: 500px;
}

.logobillede {
    width: 70px;
    height: 70px;
    margin: 5px 0px 0px 20px;

}

main {
    max-width: 600px
}





/*** fonts ***/

h1 {
    font-size: 2em;
    letter-spacing: 0.09rem;
    line-height: 1.1;
    font-family: 'cheltenham_condensedbold';
    padding: 0px 0 0px 0;
    color: white;
    margin: -150px 0 0px 0;



}

h2 {
    font-size: 2em;
    letter-spacing: 0.09rem;
    line-height: 1.1;
    font-family: 'cheltenham_condensedbold';
    padding: 10px 0 0 0;
}

h3 {
    font-size: 1.2em;
    letter-spacing: 0.09rem;
    line-height: 1.1;
    font-family: 'Myriad Pro';
    padding: 10px 0 0 0;
}

p {
    max-width: 30em;
    font-size: 1em;
    letter-spacing: 0.09rem;
    line-height: 2rem;
    font-family: 'Myriad Pro';
    padding: 20px 0 0 0;
    font-weight: 200;
    margin: 0 0 0 0;
}

a {
    font-size: 1.3em;
    letter-spacing: 0.03rem;
    font-weight: 300;

    font-family: 'cheltenham_condensedbold';
    color: #4332CF;
}





/*** sectioner ***/
#smag {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#sundhed {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

#muligheder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tekst {
    flex-basis: 400px;
    flex-grow: 1;
    max-width: 500px;

}

.billede {
    flex-basis: 400px;
    flex-grow: 1;
    max-width: 580px;
    text-align: center;
    width: 50%;
}

.footer {
    text-align: center;
}






/*** forside med dåse ***/

#trainMotion img {
    transform: translate(0%, 0%);
    transition: all 2s ease-out;
    padding: 0px 0px 0px 0px;

}

#trainMotion_contrainer {
    overflow: hidden;
}







/*
#tekstforside {
    position: absolute;
    left: 51vw;
    z-index: -1
}
*/



/* Setting fade transition and default settings */
body {
    color: #000;
    background-color: #093A82;
    transition: background-color 1s ease;
    margin: 0;
}

/* panel styles */
.panel {
    /* min height incase content is higher than window height */
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: left;
    font-family: sans-serif;
    padding: 50px 50px 50px 50px;
    /* outline: 10px solid hotpink; */
    /* turn above on to see the edge of panels */
}



/* colours */
.color-violet {
    background-color: #FAC177;
}

.color-indigo {
    background-color: #BEE0D9;
}

.color-blue {
    background-color: #2F8FED;
}



/*** header ***/


header {
    display: flex;
    justify-content: space-between;

}

nav {
    padding: 40px 50px 20px 0px;
    text-decoration: none;
    color: white;
    font-family: 'cheltenham_condensedbold';
    margin: 0;

}

nav a {
    text-decoration: none;
    color: white;
    font-family: 'cheltenham_condensedbold';
    padding: 20px;

}


nav a:hover {
    color: #FAC177;

}

#logo {

    text-align: left;
    padding: 20px;
    color: white;
    margin: 0;
}

@font-face {
    font-family: 'cheltenham_condensedbold';
    src: url('fontsquirrel/cheltenham_condensed_bold-webfont.woff2') format('woff2'),
        url('fontsquirrel/cheltenham_condensed_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}








/****** pil ned *****/

#pil_container {
    position: absolute;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pil_sprite {
    background-image: url(svg/pil_ned.svg);
    background-size: cover;
    height: 15px;
    width: 27px;
    cursor: pointer;
}



#pil_container:hover {
    transform: scale(1.2);

}


.pil_position {
    top: 90vh;
    left: 49.3vw;
}

.display {
    display: none;
}



/** footer **/

footer {
    background-color: #d3d3d3
}

.footer img {
    width: 30%;
    padding: 40px;
}


/*** video***/


video {
    width: 100%;
    max-width: 600px;
    object-fit: cover;
    height: auto;
    padding-bottom: 100px;
    margin-top: 0px;


}


.piechart {
    background: #ffffff;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    transform: rotate(-90deg);
    box-shadow: 6px 6px 30px rgba(46, 46, 46, 0.22);

}

.pie1 {
    fill: none;
    stroke: rgba(250, 193, 119, 0.71);
    stroke-width: 200;
    stroke-dasharray: 10 632;
    transition: all 1s ease;

}

.pie2 {
    fill: none;
    stroke: rgba(250, 193, 119, 0.51);
    stroke-width: 200;
    stroke-dasharray: 10 632;
    stroke-dashoffset: -10;
    transition: all 1s ease;

}

.pie3 {
    fill: none;
    stroke: rgba(250, 193, 119, 0.33);
    stroke-width: 200;
    stroke-dasharray: 10 632;
    stroke-dashoffset: -20;
    transition: all 1s ease;

}

.pie4 {
    fill: none;
    stroke: rgba(250, 193, 119, 0.2);
    stroke-width: 200;
    stroke-dasharray: 10 632;
    stroke-dashoffset: -20;
    transition: all 1s ease;

}

.pie5 {
    fill: none;
    stroke: rgba(250, 193, 119, 0.12);
    stroke-width: 200;
    stroke-dasharray: 10 632;
    stroke-dashoffset: -20;
    transition: all 1s ease;

}

/*** smag diagram***/
.duft {
    position: relative;
}

#barchart {
    max-width: 500px;
    margin-top: 20px;
}

#chart line {
    stroke: #000000;
    stroke-width: 1;

}

#chart text {
    font-size: 0.5em;
    letter-spacing: 0.09rem;
    line-height: 2rem;
    font-family: 'Myriad Pro';
    padding: 20px 0 0 0;
    font-weight: 200;

}

.bars {
    stroke-width: 20;
    stroke: blue;
}

.fylde {
    width: 19px;
    position: absolute;
    top: 60px;
    left: 170px;
}

.livlighed {
    width: 19px;
    position: absolute;
    top: 160px;
    left: 290px;
}

.bitterhed {
    width: 19px;
    position: absolute;
    top: 260px;
    left: 120px;
}


@media(min-width:740px) {
    main {
        max-width: 1400px;
    }

    #menu {
        position: relative;
        background: none;
    }

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
    }


    /*** fonts ***/

    h1 {
        font-size: 2em;
        letter-spacing: 0.09rem;
        line-height: 1.1;
        font-family: 'cheltenham_condensedbold';
        padding: 400px 0 0 0;
        margin: 0 0 0 0;
        color: white;


    }

    h2 {
        font-size: 3em;
        letter-spacing: 0.09rem;
        line-height: 1.1;
        font-family: 'cheltenham_condensedbold';
    }

    p {
        max-width: 30em;
        font-size: 1.1em;
        letter-spacing: 0.09rem;
        line-height: 2rem;
        font-family: 'Myriad Pro';
        padding: 20px 0 0 0;
        font-weight: 200;
        margin: 0 0 0 0;
    }

    a {
        font-size: 1.3em;
        letter-spacing: 0.03rem;
        font-weight: 300;

        font-family: 'cheltenham_condensedbold';
        color: #4332CF;
    }

    #trainMotion img {
        transform: translate(0%, 0%);
        transition: all 2s ease-out;
        padding: 0px 0px 0px 0px;
        margin: 50px 250px 0 0;
    }



    #tekstforside {
        position: absolute;
        left: 51vw;
        z-index: -1
    }



    #trainMotion.choochoo img {
        transform: translate(270%, 0%);

    }


}
