/*** generel ***/


html {
    scroll-behavior: smooth;
}

* {
    margin: 0 auto;
    box-sizing: border-box;

}


/*** header ***/


header {
    display: flex;
    justify-content: space-between;

}

nav {
    padding: 20px 0px 20px 20px;

    text-decoration: none;

    font-family: 'cheltenham_condensedbold';
    margin: 0;

}

nav a {
    text-decoration: none;
    color: white;
    font-family: 'cheltenham_condensedbold';
    padding: 20px 20px 20px 0px;
}


nav a:hover {
    color: #BEE0D9;

}





#menuknap {
    position: absolute;
    right: 10px;
    color: white;
    font-size: 3rem;
    padding: 0px 20px 0px 0px;
    color: #ffffff;
    cursor: pointer;
    z-index: 1;
    font-family: 'Myriad Pro';

}

#menu {
    margin: 0px 0px 30px 50px;
    list-style-type: none;
    transition: 0.8s;
    text-align: left;
    display: block;
    cursor: pointer;
    padding: 60px 8px 0px 0px;
}

#menu.hidden {
    transform: translateX(0);
    opacity: 0;
    padding: 0;
}



/*------ SKJUL ------*/
.hidden {
    transform: translateX(80%);
    opacity: 0;

}




img {
    width: 100%;
    width: 50%
}



.forsidebillede {
    width: 500px;
}

.logobillede {
    width: 70px;
    height: 70px;
    margin: 5px 0px 0px 20px;


}

main {
    max-width: 600px
}





/*** fonts ***/

h1 {
    font-size: 2em;
    letter-spacing: 0.09rem;
    line-height: 1.1;
    font-family: 'cheltenham_condensedbold';
    padding: 0px 0 0px 0;
    color: white;
    margin: -150px 0 0px 0;



}

h2 {
    font-size: 2em;
    letter-spacing: 0.09rem;
    line-height: 1.1;
    font-family: 'cheltenham_condensedbold';
    padding: 10px 0 0 0;
}

h3 {
    font-size: 1em;
    letter-spacing: 0.09rem;
    line-height: 1.1;
    font-family: 'Myriad Pro';
    padding: 10px 0 0 0;
}

p {
    max-width: 30em;
    font-size: 1em;
    letter-spacing: 0.09rem;
    line-height: 2rem;
    font-family: 'Myriad Pro';
    padding: 20px 0 0 0;
    font-weight: 200;
    margin: 0 0 0 0;
}

a {
    font-size: 1.3em;
    letter-spacing: 0.03rem;
    font-weight: 300;
    text-decoration: none;
    font-family: 'cheltenham_condensedbold';
    color: #4332CF;
}





/*** sectioner ***/
#smag {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#sundhed {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

#muligheder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tekst {
    flex-basis: 400px;
    flex-grow: 1;
    max-width: 500px;

}

.billede {
    flex-basis: 400px;
    flex-grow: 1;
    max-width: 580px;
    text-align: center;
    width: 50%;
}

.footer {
    text-align: center;
}






/*** forside med dåse ***/

#trainMotion img {
    transform: translate(0%, 0%);
    transition: all 2s ease-out;
    padding: 0px 0px 0px 0px;

}

#trainMotion_contrainer {
    overflow: hidden;
}







/*
#tekstforside {
    position: absolute;
    left: 51vw;
    z-index: -1
}
*/



/* Setting fade transition and default settings */
body {
    color: #000;
    background-color: #093A82;
    transition: background-color 1s ease;
    margin: 0;
}

/* panel styles */
.panel {
    /* min height incase content is higher than window height */
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: left;
    font-family: sans-serif;
    padding: 50px 50px 50px 50px;
    /* outline: 10px solid hotpink; */
    /* turn above on to see the edge of panels */
}



/* colours */
.color-orange {
    background-color: #FAC177;
}

.color-lightblue {
    background-color: #BEE0D9;
}

.color-blue {
    background-color: #2F8FED;
}




#logo {

    text-align: left;
    padding: 20px;
    color: white;
    margin: 0;
}

@font-face {
    font-family: 'cheltenham_condensedbold';
    src: url('fontsquirrel/cheltenham_condensed_bold-webfont.woff2') format('woff2'),
        url('fontsquirrel/cheltenham_condensed_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




.arrow {
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arrow span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
    animation-timing-function: ease;


}



@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}






/****** pil ned *****/

#pil_container {
    position: absolute;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pil_sprite {
    background-image: url(svg/pil_ned.svg);
    background-size: cover;
    height: 15px;
    width: 27px;
    cursor: pointer;
}



#pil_container:hover {
    transform: scale(1.2);

}


.pil_position {
    top: 90vh;
    left: 49.3vw;
}

.display {
    display: none;
}



/** footer **/

footer {
    background-color: #d3d3d3
}

.footer img {
    width: 30%;
    padding: 40px;
}


/*** video***/


video {
    width: 100%;
    max-width: 600px;
    object-fit: cover;
    height: auto;
    padding-bottom: 100px;
    margin-top: 0px;


}


.piechart {
    background: #ffffff;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    transform: rotate(-90deg);
    box-shadow: 6px 6px 30px rgba(46, 46, 46, 0.22);

}

.pie1 {
    fill: none;
    stroke: rgba(250, 193, 119, 0.71);
    stroke-width: 200;
    stroke-dasharray: 10 632;
    transition: all 1s ease;

}

.pie2 {
    fill: none;
    stroke: rgba(250, 193, 119, 0.51);
    stroke-width: 200;
    stroke-dasharray: 10 632;
    stroke-dashoffset: -10;
    transition: all 1s ease;

}

.pie3 {
    fill: none;
    stroke: rgba(250, 193, 119, 0.33);
    stroke-width: 200;
    stroke-dasharray: 10 632;
    stroke-dashoffset: -20;
    transition: all 1s ease;

}

.pie4 {
    fill: none;
    stroke: rgba(250, 193, 119, 0.2);
    stroke-width: 200;
    stroke-dasharray: 10 632;
    stroke-dashoffset: -20;
    transition: all 1s ease;

}

.pie5 {
    fill: none;
    stroke: rgba(250, 193, 119, 0.12);
    stroke-width: 200;
    stroke-dasharray: 10 632;
    stroke-dashoffset: -20;
    transition: all 1s ease;

}

/*** smag diagram***/
.duft {
    position: relative;
}

#barchart {
    max-width: 500px;

    margin: 20px 0px 0 0;
}

#chart line {
    stroke: #000000;
    stroke-width: 0.7;

}

#chart text {
    font-size: 0.5em;
    letter-spacing: 0.09rem;
    line-height: 2rem;
    font-family: 'Myriad Pro';
    padding: 20px 0 0 0;
    font-weight: 200;

}

.bars {
    stroke-width: 20;
    stroke: blue;
}

.fylde {
    width: 19px;
    position: absolute;
    top: 54px;
    left: 90px;
}

.livlighed {
    width: 19px;
    position: absolute;
    top: 156px;
    left: 290px;
}

.bitterhed {
    width: 19px;
    position: absolute;
    top: 258px;
    left: 90px;
}

.chartfont {
    font-size: 2em;
    letter-spacing: 0.09rem;
    line-height: 2rem;
    font-family: 'Myriad Pro';
    padding: 20px 0 0 0;
    font-weight: 200;
}

/****SoMe***/

footer {
    position: relative;
}


#favicon_container {
    position: absolute;
    cursor: pointer;
    top: 2vh;
    right: 7.3vw;
}

#favicon {
    background-image: url(svg/instagram.svg);
    background-size: cover;
    height: 30px;
    width: 30px;
    cursor: pointer;
    display: inline-block;
    margin: 10px;

}

#favicon-face {
    background-image: url(svg/facebook.svg);
    background-size: cover;
    height: 30px;
    width: 30px;
    cursor: pointer;
    display: inline-block;
    margin: 10px;

}

#favicon-you {
    background-image: url(svg/youtube.svg);
    background-size: cover;
    height: 30px;
    width: 30px;
    cursor: pointer;
    display: inline-block;
    margin: 10px;

}




@media(min-width:740px) {
    main {
        max-width: 1400px;
    }

    #menu {
        position: relative;
        background: none;
    }

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
    }


    /*** fonts ***/

    h1 {
        font-size: 2em;
        letter-spacing: 0.09rem;
        line-height: 1.1;
        font-family: 'cheltenham_condensedbold';
        padding: 380px 0 0 0;
        margin: 0 0 0 0;
        color: white;


    }

    h2 {
        font-size: 3em;
        letter-spacing: 0.09rem;
        line-height: 1.1;
        font-family: 'cheltenham_condensedbold';
    }

    p {
        max-width: 30em;
        font-size: 1.1em;
        letter-spacing: 0.09rem;
        line-height: 2rem;
        font-family: 'Myriad Pro';
        padding: 20px 0 0 0;
        font-weight: 200;
        margin: 0 0 0 0;
    }

    a {
        font-size: 1.2em;
        letter-spacing: 0.03rem;
        font-weight: 200;
        font-family: 'cheltenham_condensedbold';
        color: #4332CF;
    }

    #trainMotion img {
        transform: translate(0%, 0%);
        transition: all 2s ease-out;
        padding: 0px 0px 0px 0px;
        margin: 0px 250px 0 0;
    }



    #tekstforside {
        position: absolute;
        left: 51vw;
        z-index: -1
    }



    #trainMotion.choochoo img {
        transform: translate(270%, 0%);

    }

    #barchart {
        max-width: 500px;

        margin: 10px 90px 0 0;
    }

    .logobillede {
        width: 70px;
        height: 70px;
        margin: 5px 0px 0px 20px;
        position: fixed;

    }

    .piechart {
        background: #ffffff;
        width: 350px;
        height: 350px;
        border-radius: 50%;
        transform: rotate(-90deg);
        box-shadow: 6px 6px 30px rgba(46, 46, 46, 0.22);

    }

    nav {
        padding: 40px 50px 20px 0px;
        text-decoration: none;
        color: white;
        font-family: 'cheltenham_condensedbold';
        margin: 0;

    }

    nav a {
        text-decoration: none;
        color: white;
        font-family: 'cheltenham_condensedbold';
        padding: 20px;






    }

    #favicon_container {
        position: absolute;
        cursor: pointer;
        top: 10vh;
        right: 7.3vw;
    }

    #favicon {
        background-image: url(svg/instagram.svg);
        background-size: cover;
        height: 40px;
        width: 40px;
        cursor: pointer;
        display: inline-block;
        margin: 10px;

    }

    #favicon-face {
        background-image: url(svg/facebook.svg);
        background-size: cover;
        height: 40px;
        width: 40px;
        cursor: pointer;
        display: inline-block;
        margin: 10px;

    }

    #favicon-you {
        background-image: url(svg/youtube.svg);
        background-size: cover;
        height: 40px;
        width: 40px;
        cursor: pointer;
        display: inline-block;
        margin: 10px;

    }


}

@media(min-width:1500px) {
    #trainMotion img {
        transform: translate(0%, 0%);
        transition: all 2s ease-out;
        padding: 0px 0px 0px 0px;
        margin: 50px 250px 0 0;
    }

    h1 {
        font-size: 2em;
        letter-spacing: 0.09rem;
        line-height: 1.1;
        font-family: 'cheltenham_condensedbold';
        padding: 420px 0 0 0;
        margin: 0 0 0 0;
        color: white;


    }

}
